<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Bvh.Examen.Data.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Bvh.Examen.Data.Settings1>
            <setting name="CadenaConexion" serializeAs="String">
                <value>Server=YTTEB\\SQLEXPRESS; Database=BvhExamen; User Id=sa; Password=1234;</value>
            </setting>
        </Bvh.Examen.Data.Settings1>
    </userSettings>
</configuration>